.hero {
    height: 450px;
    position: relative;
    /* border: solid red 5px;
    display: flex;
    background-image: url(Images/hero.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px; */
}

#homeTitle{
    text-align:center ; 
    font-size:48px;
    padding: 2px 4%;
}
.overlay_elements {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 9998;
}

.hero #image2 {
    /* position: absolute; */
    transform: translate(100%, -101%);
    display: none;
}

.hero-text {
    color: white;
}

hr{
    height: 0.005rem;
    margin-bottom: 38px;
}

main .container {
    /* float: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap;
    /* flex-shrink: 1; */
    /* height: auto;
    width: auto; */
    /* margin: 3rem 10vw; */
    flex-wrap: wrap;
    /* box-sizing: border-box; */
    /* border: 2px solid rgb(18, 0, 0); */

}

/* .divider {
    /* background-color: gray;
    width: 32.0%;
    /* min-width: 100px;
    height: 100%;
    padding: 2%;
} */

/* .container #divider_two {
    /* background-color: yellow; 
    border-left: 2px solid black;
    border-right: 2px solid black;
} */

.each_article{
    flex: 1 1 auto;
    height: max-content;
    padding: 15px 20px 10px;
    border-left: 5px solid rgb(189, 189, 189);
    margin-bottom: 25px;
    width: 25%;
    min-width: 250px;
    max-width: 300px;
    background-color: rgb(249, 249, 249);
}

/* .container .divider_three{
     background-color: red 
} */

.each_article h1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color:#a40434;
    text-align:center;
}

/* style added by Sifen for the home page suggestions */
.writer{
    border-radius: 50%;
    object-fit: cover;
}

.suggestion_img {
    border-radius:2px 2px 9px 2px; 
    width: 100%; 
    height:130px;
    object-fit: cover;
}
.suggestion_p{
    line-height: 22px;
    height:max-content;   
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 1px;
}

.each_article a{
    font-family:monospace;
    font-size: 16px;
    text-decoration: none;
    background-color: inherit;
}


#next{
    font-size: 20px;
    color: rgb;
}