@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Nanum+Myeongjo&family=Shadows+Into+Light&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.top-header a{
    text-decoration: none;
    color: white;
}
.top-header{
    height: 2rem;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    gap: auto;
    padding: 0px 15px 0px 15px;
    align-items: center;
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
}
.top-header ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}
.bottom-header {
    display: flex;
    height: 4rem;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px 0px 20px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
    font-weight: bold;
    font-size: 20px;


}

header ul{
    display: flex;
    list-style-type: none; 
    gap: 2rem;
}
header .icon-nav{
    gap: 20px;
} 

.bottom-header a{
    text-decoration: none;
    color: black
}
.bottom-header p{
    font-weight: 500px;
    font-size: xx-large;
}

.hero{
    height: 500px;
    /* border: solid red 5px; */
    display: flex;
    background-image: url(Images/hero.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}
.hero img{
    width: 100%;
}
.hero-text{
    color: white;
}

main .container {
    /* float: left; */
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-shrink: 1; */
    height: auto;
    width: auto;
    margin: 3rem 10vw 3rem 10vw;   
    box-sizing: border-box;
    /* border: 2px solid rgb(18, 0, 0); */
}

.divider{
    /* background-color: green; */
    width: 23.33%;
    /* min-width: 100px; */
    height: 100%;
    padding: 5%;
}
.container .divider_two{
    /* background-color: yellow; */
    border-left: 2px solid black;
    border-right: 2px solid black;
    
}
/* .container .divider_three{
     background-color: red 
} */
.writer {
    border-radius: 50%;
    object-fit: cover;
}

footer{
    height: auto;
    width: 100%;
    background-color: black;
    color: white
}
hr{
    color:white;
}
footer .title {
    display: flex;
    justify-content: space-around;
    padding: 70px 50px 0px 50px;
    font-size: xx-large;
}
footer .footer_links{
    width: 300px;
}
footer .father_container {
    display: flex;
    justify-content: space-around;
    padding: 40px 50px 30px 50px;
    gap:30px;
}
footer ul{
    list-style-type: none;
}
footer a{
    text-decoration: none;
    color: white;
}
footer .footer_links{
    display: flex;
    justify-content: center;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 300;
    font-size: 20px;
}

.father_container li{
    margin-bottom: 10px ;
}