*{
    margin: 0px;
    padding: 0px;
}
.top-header a{
    text-decoration: none;
    color: white;
}
.top-header{
    height: 3rem;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;
    font-size: 19px;
}
.top-header ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

