@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Nanum+Myeongjo&family=Shadows+Into+Light&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.top-header a {
    text-decoration: none;
    color: white;
}

.top-header {
    height: 2rem;
    display: flex;
    background-color:#171717;
    color: white;
    justify-content: space-between;
    gap: auto;
    padding: 0px 15px 0px 15px;
    align-items: center;
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
}

.top-header ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.bottom-header {
    display: flex;
    height: 4rem;
    background-color: rgb(246, 246, 246);
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px 0px 20px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
    font-weight: bold;
    font-size: 20px;

}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-bottom: 30px;
    z-index: 9999;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}
header #newspaper, .each_article h1 {
    color:#a40434;
}

.bottom-header a{
    display:block;
    text-decoration: none;
    color: black;
}

header .icon-nav {
    gap: 20px;
}

.bottom-header a:after {
  display: block;
  content: '';
  padding-bottom: 2px;
  border-bottom: 3px solid #a40434a9;;  
  transform: scaleX(0);  
  transition: transform 300ms ease-in-out;
}
.bottom-header a:hover:after { transform: scaleX(1); }
.bottom-header a:active {color:goldenrod;}


.bottom-header p {
    font-weight: 500px;
    font-size: xx-large;
}

.hero {
    height: 450px;
    position: relative;
    /* border: solid red 5px;
    display: flex;
    background-image: url(Images/hero.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px; */
}

.overlay_elements {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 250px;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 9998;
}

.hero #image2 {
    /* position: absolute; */
    transform: translate(100%, -101%);
    display: none;
}

.hero-text {
    color: white;
}

main .container {
    /* float: left; */
    display: flex;
    /* flex-wrap: wrap;
    /* flex-shrink: 1; */
    height: auto;
    width: auto;
    margin: 3rem 10vw 3rem 10vw;
    box-sizing: border-box;
    /* border: 2px solid rgb(18, 0, 0); */

}

.divider {
    /* background-color: gray; */
    width: 32.0%;
    /* min-width: 100px; */
    height: 100%;
    padding: 2%;
}

/* .container #divider_two {
    /* background-color: yellow; 
    border-left: 2px solid black;
    border-right: 2px solid black;
} */

.each_article{
    height: auto;
    padding: 2px 20px 10px;
    border-right: 2px dashed black;
    border-bottom: 2px dashed black;
    border-bottom-right-radius: 5px;
    /* background-color: rgb(192, 146, 146); */
    margin-bottom: 20px;
}

/* .container .divider_three{
     background-color: red 
} */


/* style added by Sifen for the home page suggestions */
.writer{
    border-radius: 50%;
    object-fit: cover;
}

.suggestion_img {
    border-radius:2px 2px 9px 2px; 
    width: 100%; 
    height:130px;
    object-fit: cover;
}
.suggestion_p{
    min-height:75px; 
    height:7px;  
    overflow:hidden; 
    margin-top: 2px;
}

.each_article a{
    margin-top: 5px;
    font-family:monospace;
    font-size: 16px;
    text-decoration: none;
}
/* footer css rules*/
footer {
    height: auto;
    width: 100%;
    background-color:#171717;
    color: white;
}

hr {
    color: white;
}

footer .title {
    display: flex;
    justify-content: space-around;
    padding: 70px 50px 0px 50px;
    font-size: xx-large;
}

footer .footer_links {
    width: 300px;
}

footer .father_container {
    display: flex;
    justify-content: space-around;
    padding: 40px 50px 30px 50px;
    gap: 30px;
}

footer ul {
    list-style-type: disc ;
    list-style-type: style color;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
}

footer .footer_links {
    display: flex;
    justify-content: center;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 300;
    font-size: 20px;
}

.father_container li {
    margin-bottom: 10px;
}

#description::first-letter{
    -webkit-initial-letter: 3;
    initial-letter:3;
    color: goldenrod;
    font-weight: lighter;
}

/* Below here is a styling for the about us page */

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in.in-view {
    opacity: 1;
  }
  
.about_us {
    margin: 50px 15vw 3rem 15vw;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    /* min-width: 900px; */

}

.about_us .about_header {
    text-align: center;
    width: 100%;
    font-family: 'Nanum Myeongjo', serif;
    font-size: xxx-large;
    margin-bottom: 50px;
    margin-top: 30px;

}

.about_us .about1 {
    box-sizing: border-box;
    /* border: 1px solid red; */
    height: 100%;
    padding: 20px 20px 10px 20px;
    /* margin: 10px 0 10px 0; */
    width: 50%;
    display: flex;
    align-items: center;
}

.about_us .about2 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* border: 1px solid red; */
    min-width: 33.333%;
    max-width: 33.333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 10px 20px;
    /* min-width: 300px; */
    /* margin: 10px 0 10px 0; */
}

.first_row.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_beauty {
    margin-top: 40px;
    width: 100%;
    height: 300px;
    display: flex;
    /* border: 1px solid green; */
    background-color: rgb(60, 81, 72);
    margin-top: -50px;
    z-index: -9999;
}

.bb_child {
    margin-top: 4rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bb_child_right {
    background-color: rgba(202, 192, 192, 0.1);
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

}

.about1.right.fourth_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about1.right.fourth_row h1 {
    font-weight: 900;
    font-size: 200px;
}

.about1.left.fourth_row {
    padding: 0px;
}

.group_members {
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
}

.member_list {
    /* border: 1px solid red; */
    height: 200px;
    flex: 1 1 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.author {
    border-radius: 50%;
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.group_members sub {
    width: 100%;
    text-align: center;
}

/*blog css has it's own files visit it*/

/* @media screen and (max-width: 1106px){
    .about_us{
        margin: 50px 10vw 3rem 10vw;
    }
}  */


/* Below is style for simple post page */

#simple_post_container{
    box-sizing: border-box;
    display: flex;
    margin: 100px 10vw 20px 10vw;
    /* border: 2px solid red; */
    height: auto;
    padding: 10px;
}

#simple_post_container_main{
    height: 100%;
    width: 70%;
    /* border: 2px solid green; */
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#simple_post_container_aside{
    height: auto;
    width: 30%;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside_list{
    flex: 1 1 0px;
    border-bottom: 2px solid black;
    width: 80%;
    padding: 1rem;
    padding-top:3rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}
.aside_list p{
    display: inline;
}
.aside_list_button{
    /* display: inline; */
    height: 30px;
    width: 40px;
}
#simple_post_image{
    /* border: 2px dotted purple; */
    box-sizing: border-box;
    flex-grow: 1;
    max-height: 500px;
    max-width: 100%;
}
#simple_post_image img{
    max-height: 500px;
    width: 100%;
}
#simple_post_text{
    /* border: 2px dotted rgb(128, 0, 0); */
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 100%;
    /* padding: 10px;*/
    padding-top: 100px;
    text-align: justify;
}

/* .activated{
    background-color: green;
} */